@page "/"

<PageTitle>Billiards</PageTitle>

<h1>Hello!</h1>

Welcome to the billiards app.


<NavLink class="nav-link" href="Camera">
    <span class="oi oi-camera-slr" aria-hidden="true"></span> Camera
</NavLink>
<NavLink class="nav-link" href="Video2">
    <span class="oi oi-video" aria-hidden="true"></span> Video
</NavLink>
<NavLink class="nav-link" href="File">
    <span class="oi oi-file" aria-hidden="true"></span> File
</NavLink>
