@page "/"

<PageTitle>Billiards</PageTitle>

<h1>Hello!</h1>

Welcome to the billiards app.


<NavLink class="nav-link" href="camera">
    <span class="oi oi-camera-slr" aria-hidden="true"></span> Camera
</NavLink>
<NavLink class="nav-link" href="video">
    <span class="oi oi-video" aria-hidden="true"></span> Video
</NavLink>