@page "/"

<PageTitle>Milliards</PageTitle>

<h1>Hallo!</h1>

Welkom bij de billiards app.

<br />
<br />


<NavLink class="nav-link" href="Camera">
    <span class="oi oi-camera-slr" aria-hidden="true"></span> Camera
</NavLink>
<br/>
<br />
<NavLink class="nav-link" href="Video2">
    <span class="oi oi-video" aria-hidden="true"></span> Video
</NavLink>
<br />
<br />
<NavLink class="nav-link" href="File">
    <span class="oi oi-file" aria-hidden="true"></span> File
</NavLink>
